/* Colors and fonts */

body {
 background: #F5EDED;
 color: #575F7D;
 font-family: "Lora", serif;
 font-optical-sizing: auto;
 font-weight: 600;
 font-style: normal;
}

h1, h2, h3 {
	font-family: Roboto;
	color: #6482AD;
}
h1 {
	font-size: 35px
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 50px;
}

h2 {
	font-size: 17px
	font-weight: 300;
	letter-spacing: 1px;
}

a{
	text-decoration: none;
	color: #7FA1C3;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

#photo {
	width: 250px;
	border-radius: 50%;
}

@media (max-width: 540px) {
    #photo {
        width: 200px;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7FA1C3; 
    color: white;              
    text-align: center;
    text-decoration: none;      
    border-radius: 5px;         
    font-size: 16px;
}

.btn:hover {
    background-color: black;  
}

.container-small {
    width: 600px; 
    max-width: 1200px; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 20px;
}

@media (max-width: 960px) {
    .container-small {
        width: 600px;
    }
}

@media (max-width: 720px) {
    .container-small {
        width: 400px;
    }
}

@media (max-width: 540px) {
    .container-small {
        width: 350px;
    }
}

header, footer {
    background-color: #007BFF;
    color: white;
}

h1, h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.container-large {
    width: 900px;
    max-width: 1200px; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 20px;
}

@media (max-width: 960px) {
    .container-large {
        width: 700px;
    }
}

@media (max-width: 720px) {
    .container-large {
        width: 400px;
    }
}

@media (max-width: 540px) {
    .container-large {
        width: 350px;
    }
}

.card-white {
    width: 50%;
    max-width: 1200px; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 20px;
}

.list-inline {
  list-style: none;  
  padding-left: 0px;
  margin: 0;
  display: flex; 
  justify-content: center;  
}

.list-inline li {
  margin-right: 20px;
  display: inline;
  padding: 10px;  
}

.list-inline i {
	font-size: 40px;
	color: rgb(190, 190, 190);
}

.list-inline i:hover {
	color: black;
}

#introduction p {
	margin-bottom: 40px;
}

